body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    margin: 0;
    padding: 20px;
    min-height: 100vh
}

h1, h2 {
    color: #333;
    font-weight: bold;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p, ul, a {
    font-size: 16px;
    color: #444;
}

ul {
    list-style-position: inside;
    text-align: left;
    display: inline-block;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    color: red;
}

.karp {
    background-color: #fdfdfd;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.keskel {
    justify-content: center;
    align-items: center;
    text-align: center;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f5f5f5;
    font-weight: bold;
}

td {
    background-color: #ffffff;
}

th:hover {
    background-color: #aaaaf5;
}

td:hover {
    background-color: #ffaaaa;
}

img {
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.section {
    margin-top: 20px;
    margin-bottom: 20px;
}
